@font-face {
    font-family: 'Balkara';
    src: url('https://github.com/obshina2024/rucbonus/blob/main/BalkaraFreeCondensed.ttf') format('truetype');
}

body {
    font-family: 'Balkara', sans-serif;
}



     
